* {
    box-sizing: border-box;


}

.wrapper {
    width: 400px;
    margin: 40px auto 0 auto;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 20px;
}

/* .btn {
    background-color: blue;
}

.form-control {
    border: 2px solid blue;
} */
/* .check{
    border: 2px solid blue;
} */
button {
    margin-top: 20px;
}

[type=checkbox] {
    margin-top: 20px;
}